<%content_for :page_title do%>
    OPX Cancel Subscription 3.0
<%end%>


<%=endpoint_form(@endpoints)%>

<br>

<div class="panel panel-default">
    <div class="panel-body">

    <%= bootstrap_form_tag :url => "/opx/3.0/OPXCancelSubscription", :authenticity_token => false, :enforce_utf8 => false, :html => {:class => "mock-form"}, :data => {:name => "cancel3"} do |f| %>

        <%=f.collection_select :AccountID, @accounts, :account_id, :name, :label => "Account Id"%>
        <%=f.collection_select :SiteID, @sites, :site_id, :site_name, :label => "Site Id"%>

        <%=f.text_field :OPXSubscriptionID, :value => "", :label => "OPX Subscription Id"%>
        <%=f.text_field :CancelReason, :value => "", :label => "Cancel Reason"%>
        <%=f.text_field :UserReason, :value => "", :label => "User Reason"%>
        <%=f.text_field :RedirectURL, :value => "", :label => "Redirect URL"%>


        <%=f.text_field :CurrentTime, :value => (Time.now.to_i*1000), :label => "Current Time", :readonly => true%>
        <%=f.text_field :AuthString, :value => "", :label => "Auth String", :readonly => true%>

        <%= f.submit :name => "", :class => "btn btn-default" %>
    <% end %>

    </div>
</div>

