.text-left-xs {text-align:left;}
.text-center-xs {text-align:center;}
.text-right-xs {text-align:right;}


@media (min-width: $screen-sm-min) {
  .text-left-sm {text-align:left;}
  .text-center-sm {text-align:center;}
  .text-right-sm {text-align:right;}
}

@media (min-width: $screen-md-min) {
  .text-left-md {text-align:left;}
  .text-center-md {text-align:center;}
  .text-right-md {text-align:right;}
}

@media (min-width:$screen-lg-min){
  .text-left-lg {text-align:left;}
  .text-center-lg {text-align:center;}
  .text-right-lg {text-align:right;}
}

body {

}

body > section {
  padding: 0 15px;
}

.navbar-main {
  border-radius: 0;
  margin-bottom: 0;
  z-index: 10;
  border-bottom-color: #ccc;
}


$bgDefault      : #333;
$bgHighlight    : #444;
$colDefault     : #ccc;
$colHighlight   : #fff;
.navbar-main {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  background-image: none;

  .navbar-brand {
    color: $colDefault;
    text-shadow: 0 1px 0 rgba(0,0,0,0.25);

    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        text-shadow: 0 1px 0 rgba(0,0,0,0.25);
        &:hover, &:focus {
          color: $colHighlight;
          background-color: $bgHighlight;
        }}}
    .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight;
        .caret {
          border-top-color: $colHighlight;
          border-bottom-color: $colHighlight; }}}
    > .dropdown {
      > a {
        .caret {
          border-top-color: $colDefault;
          border-bottom-color: $colDefault; }
        &:hover, &:focus {
          .caret {
            border-top-color: $colHighlight;
            border-bottom-color: $colHighlight; }}}}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}}
@media (max-width: 767px) {
  .navbar-main .navbar-nav .open .dropdown-menu > li > a {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight;
      background-color: $bgHighlight; }}
}








.navbar-sub {
  z-index: 5;
  padding: 10px 15px 0 15px;
  top: -10px;
  border-bottom-color: #ccc;
  margin-bottom: 15px;

}

section.main {
  z-index: 5;
}

.navbar-sub h2 {
  font-size: 18px;
  line-height: 20px;
  color: #777;
  font-weight: normal;
  padding: 12px 0;
  margin: 0;

  .btn {
    vertical-align: middle;
  }
}






.section-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.field-errors > span {
  display: block;
}

.event-availability .product-label {
  font-weight: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-availability .brand-label {
  text-align: left;
}

.brand-availability {
  margin-bottom: 20px;
}

.head-toolbar {
  margin-top: 5px;
  margin-bottom: 5px;
}


.bs-pagination-container {
  margin: 15px 0;
  text-align: center;
}

.bs-pagination {
  span,
  span:hover,
  span:active
  {
    cursor: default;
    background: #e6e6e6;
    border-color: #ccc;
    font-weight: bold;
    box-shadow: none;
  }
}





//.translation_missing {
//  text-decoration:line-through !important;
//  color: red !important;
//}


h4 {
  margin-left: -15px;
  margin-right: -15px;
  padding: 10px 15px;
  background: #efefef;
}

.fieldset {
  margin-bottom: 30px;
}



.fieldset .fieldset h4 {
  //font-weight: normal;
}

.standard-datetime-text-fields {
  >div {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}


.item-disabled {
  text-decoration: line-through;
}

.item-default {
  font-weight: bold;
}

.form-filter {

}


@media (min-width: $screen-sm-min) {

  .form-filter {
    overflow: hidden;

    .form-group {
      float: left;
      width: 50%;
    }

    .form-group.long {
      float: left;
      width: 100%;
    }

    .form-buttons {
      width: 50%;
      clear: both;
    }
  }

}

.page-title-col h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
