<!DOCTYPE html>
<html>
<head>
    <title>Mock</title>
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width /">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>

    <%= csrf_meta_tags %>


    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/hmac-sha1.js"></script>

</head>
<body>
<header>

    <nav class="navbar navbar-main" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mock</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">

            <ul class="nav navbar-nav">
                <li><a href="#xxx">My events</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>


    <nav class="navbar navbar-default navbar-sub">
        <div class="row">
            <div class="col-xs-6 page-title-col">
                <%=yield(:page_title_html).presence || content_tag(:h2, yield(:page_title))%>
            </div>

            <div class="col-xs-6 text-right-xs">
                <%=yield :page_toolbar%>
            </div>
        </div>
    </nav>



</header>

<section class="main">
    <%if flash[:success]%>
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=flash[:success]%>
        </div>
    <%end%>

    <%if flash[:notice]%>
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=flash[:notice]%>
        </div>
    <%end%>

    <%if flash[:error]%>
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%=flash[:error]%>
        </div>
    <%end%>

    <%=api_keys(@accounts)%>
    <%= yield %>
</section>


<footer>
    <br>
</footer>






</body>
</html>
